<p>item-form works!</p>
<form (ngSubmit)="onCreatePost(form.value)" #form="ngForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" ngModel name="title">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Контент</label>
        <input type="text" class="form-control" id="content" ngModel name="content">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<hr>
<div>{{response}}</div>
