<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page" routerLink="">Активная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="list">Список</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="item-form">Новый</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLinkActive="active">Отключенная</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    <!-- <div class="col-3" style="border: dotted 1px; color:black;">
      Колонка
    </div>
    <div class="col-3" style="border: dotted 1px; color:black;">
      Колонка
    </div>
    <div class="col-2" style="border: dotted 1px; color:black;">
      Колонка
    </div> -->
  </div>
</div>